
<div class="center">
  <%= movie(movie_id: @reco1.youtube) %>
</div>

<div class="">
  <p>Share <i class="fa fa-share" aria-hidden="true"></i> <i class="fa fa-twitter-square" aria-hidden="true"></i> <i class="fa fa-facebook-square" aria-hidden="true"></i></p>
  <p>More song of #thisArtist.</p>
</div>

<div class="">
  <p><i class="fa fa-angle-double-right" aria-hidden="true"></i> #next</p>
</div>

<div class="">
  <%= @reco2.song%> / <%= @reco2.artist%>
</div>

<div class="">
  <p><i class="fa fa-angle-double-up" aria-hidden="true"></i> #skip</p>
</div>

<div class="">
  <p><i class="fa fa-angle-double-left" aria-hidden="true"></i> #prev</p>
</div>

<div class="">
  <%= @reco2.song%> / <%= @reco2.artist%>
</div>
