
<div class="center">
  <%= movie(movie_id: @reco1.youtube) %>
</div>

<div class="">
  <p>Share</p>
  <p>More song of #thisArtist.</p>
</div>

<div class="">
  <p><#next</p>
</div>

<div class="">
  <%= @reco2.song%> / <%= @reco2.artist%>
</div>

<div class="">
  <p>#skip</p>
</div>

<div class="">
  <p><#prev</p>
</div>

<div class="">
  <%= @reco2.song%> / <%= @reco2.artist%>
</div>
