<div class="center jumbotron">
<div id="player"></div>
<%= javascript_tag do %>

  var tag = document.createElement('script');
  tag.src = "https://www.youtube.com/iframe_api";
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  var VIDEO_ID = <%= raw @main1.youtube.to_json %>;
  var player = null;

  var player;
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('player', {
    height: '390',
    width: '640',
    videoId: VIDEO_ID,
    showinfo: 0,
    playerVars: {
        rel: 0,
        autoplay: 1
      },
    events: {
        'onReady': onPlayerReady,
        'onStateChange': onPlayerStateChange
      }
    });
  }

  function onPlayerReady(event) {
    event.target.playVideo();
  }

  function onPlayerStateChange(event) {
  if (event.data == YT.PlayerState.ENDED) {
    location.href= 'http://www.bitterstep.com/';
    }
  }
<% end %>


  <div class="social clearfix">
    <!-- Facebook -->
    <div class="button facebook">
      <div id="fb-root"></div>
      <div class="fb-like"
        data-href="<%= request.original_url %>"
        data-layout="button_count"
        data-send="false"
        data-width="120"
        data-show-faces="false">
      </div>
    </div>
  </div>

  <!-- Twitter -->
  <div class="button twitter">
  <a href="https://twitter.com/share" class="twitter-share-button"
    data-lang="en"
    data-url="https://www.youtube.com/embed/<%= @main1.youtube %>?autoplay=1"
    data-text="<%= @main1.song %> / <%= @main1.artist %>">
    Tweet
  </a>
  </div>

</div>
